# 함수 사용

- 데이터에 적용되는 다양한 함수 사용법을 다룬다
- def, lambda, map, apply

## import

In [1]:
import pandas as pd
import numpy as np

# def 
- 반복 사용되는 작업은 함수로 만들어 두면 편리하게 다시 사용할 수 있다
- 함수를 정의할 때 def를 사용한다
- 함수를 호출할 때 인자를 넘겨줄 수 있다
- 함수 실행 결과로 어떤 값을 받으려면 return 문을 사용한다

## 리턴 값 정의
- return을 사용하며, 임의의 형태의 묶음 데이터도 리턴할 수 있다

## 인자

In [2]:
## 인자로 받은 값의 두 배를 리턴하는 함수 정의

def double(x):
    return x*2

double(5)

10

In [3]:
x = double(100)
x + 5

205

In [4]:
## 인자와 리턴값이 둘 이상인 함수 정의

def f_1(a,b,c): 
    return a*100 + b*10 + c, a+b+c

x, y = f_1(1, 2, 3)
x, y

(123, 6)

### 디폴트 값이 일부만 지정된 경우
- 주의: 디폴트 값이 없는 인자는 앞에 배치해야 한다
- 디폴트 값이 없는 인자는 필수 입력 인자임

In [5]:
## 일부 인자에 디폴트 값을 지정하는 함수 정의

def f_2(a,b=2,c=3): 
    return a*100 + b*10 + c

print(f_2(1))      # 123, 반드시 하나 이상의 인자가 필요하며 a로 사용된다
print(f_2(5,8))    # 583, 앞에서부터 차례로 a,b로 사용된다
print(f_2(3,6,9))  # 369, 앞에서부터 차례로 a,b,c로 사용된다
print(f_2(c=4,a=9))# 924, 순서에 관계없이 인자를 지정할 수 있다
                   # 인자 a는 필수로 지정해야 한다

123
583
369
924

# 편리한 함수 사용법

- lambda, map, apply

## lambda, 익명 함수 정의
- def, return을 사용하지 않고 간단히 함수를 정의할 수 있다

In [12]:
## def, return을 사용하지 않는 간단한 함수 정의법

my_f = lambda x: np.log10(x)

my_f(40)

1.6020599913279623

## map, 리스트에 함수 적용하기

- map의 첫번째 인자에는 함수를, 두번째 인자에는 데이터를 넣는다
- 리스트 외에도 튜플, 배열에 대해서도 사용할 수 있다
- 별도로 함수를 정의하지 않고 lambda를 사용하여 함수 내용만 정의할 수 있다

In [16]:
## 이미 정의된 함수명 my_f를 map()에 사용하는 예

data = [1,2,3,4,5,10,100,1000]
y = list(map(np.log10, data))
# y = map(my_f, data)
y

[0.0,
 0.3010299956639812,
 0.47712125471966244,
 0.6020599913279624,
 0.6989700043360189,
 1.0,
 2.0,
 3.0]

In [18]:
list(map(lambda x: np.log10(x), data))

[0.0,
 0.3010299956639812,
 0.47712125471966244,
 0.6020599913279624,
 0.6989700043360189,
 1.0,
 2.0,
 3.0]

## apply, 시리즈나 데이터프레임에 함수 적용

- apply는 리스트, 튜플, 배열에는 사용할 수 없다

In [19]:
## 데이터프레임 생성

x = {'city': ['서울', '부산', '대구', '대전', '광주'],
     'population': [990, 350, 250, 154, 150],
     'temp': [13, 16, 14, 13, 15],
     'cars': [300, 120, 80, 90, 70]}

df = pd.DataFrame(x)
df

  city  population  temp  cars
0   서울         990    13   300
1   부산         350    16   120
2   대구         250    14    80
3   대전         154    13    90
4   광주         150    15    70

In [33]:
## 데이터프레임(시리즈)의 평균값 구하기

df[["population","temp",'cars']].apply(lambda x: x*100)

   population  temp   cars
0       99000  1300  30000
1       35000  1600  12000
2       25000  1400   8000
3       15400  1300   9000
4       15000  1500   7000